@model IEnumerable<sistema_teste.UI.Models.AlunosIndexViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h2>Gerenciador de Alunos @User.Identity.Name</h2>
    <hr>
    <button type="button" onclick="location.href='@Url.Action("CadastroAlunos","Alunos")'" class="btn btn-outline-dark"> <i class="bi bi-plus"></i> Novo Aluno</button>
    <br /><br />
    <div class="card">
        
       
        <div class="card-header">
         <div class="card-title">
          
         </div>
      </div>
        <div class="card-body">
            @TempData["Msg"]
            <table class="table">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Usuário</th>
                        <th>Status</th>
                        <th>Tipo de Plano</th>
                        <th>Tipo Pagamentos</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Alunos.Count > 0)
                    {
                        @foreach (var item in ViewBag.Alunos)
                        {
                            <tr>
                                <td>@item.Foto</td>
                                <td>@item.NomeCompleto</td>

                                @if (item.Ativo == true)
                                {
                                    <td style="color:darkslategrey">ATIVO</td>
                                }
                                else
                                {
                                    <td style="color:red">INATIVO</td>
                                }
                                <td>@item.DescTipoPlano</td>
                                <td>@item.Tipo</td>
                                <td>
                                    <button class="btn btn-outline-warning" title="Editar" onclick="window.location.href ='@Url.Action("AlterarAlunos","Alunos", new {Id = @item.IdAluno})'">
                                        <i class="fa-solid fa-user-pen"></i>
                                    </button>
                                    <button class="btn btn-outline-danger btnExcluir" title="Excluir" data-id="@item.IdAluno"><i class="fa-solid fa-user-xmark"></i></button>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>

</div>
@section scripts{
   <script>

       $('.btnExcluir').on('click', function () {
           if(confirm("Deseja excluir?")){
                var id = $(this).attr("data-id");
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ExcluirAluno", "Alunos")',
                    data: { Id: id },
                    success: function (response) {
                        if (response.sucesso) {
                            alert(response.mensagem);
                            window.location.href = '@Url.Action("Index", "Alunos")';

                        }

                    }, error: function () {

                    }
                });
           }
          
          
       });

   </script>
   }